@using Library.Core.Repositories
@inject IBookGroupRepository _bookGroupRepository
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
    </li>
    <li>
        <span>گروه های کتاب</span>
        <ul>
            @{
                foreach (var item in _bookGroupRepository.GetListGroups())
                {
                    <li><a href="/Books/@item.GroupId/@item.GroupTiltle">@item.GroupTiltle</a></li>
                }
            }
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">ضوابط و شرایط</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">ورود/ثبت نام</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">پنل مدیریت</a>
    </li>
</ul>