@{
    ViewData["Title"] = "تماس با ما";
}
<h1>@ViewData["Title"]</h1>
<br/>
<br/>

<p>
    <b>
        شماره تماس: 31313131-031
    </b>
</p>
<p>
    آدرس: دانشکده ریاضی و کامپیوتر خوانسار
</p>
<p>
    کدپستی: 8456972543
</p>