@{
    ViewData["Title"] = "تماس با ما";
}
<h1 class="h2">@ViewData["Title"]</h1>
<br />
<p class="h4">
    ساعات کاری:
</p>
<p>
    شنبه تا چهارشنبه از ساعت 8 صبح الی 8 شب
</p>
<p>
    و روزهای پنجشنبه از ساعت 8 صبح الی 12 ظهر
</p>
<br />
<p class="h4">
    شماره تماس:
</p>
<p>
    031-31313131
</p>
<br />
<p class="h4">
    آدرس:
</p>
<p>
    دانشکده ریاضی و کامپیوتر خوانسار
</p>
<br />
<p class="h4">
    کدپستی:
</p>
<p>
    8456972543
</p>