@{
    ViewData["Title"] = "شرایط و ضوابط";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<div class="row">
    <div class="col-xs-24">
        <div class="about-us">

            <h2>قوانین و مقررات</h2>

            <h3>کاربر گرامی</h3>
            <p>
                لطفاً شرایط و ضوابط زیر را به دقت مطالعه نمایید. ادامۀ استفادۀ شما از این نرم افزار به معنای مطالعه و پذیرش تمام این شرایط و ضوابط است. در صورتی که این شرایط را نمی‌پذیرید، استفاده برای شما مجاز نیست .
            </p>

            <p>
                کتابخوان نور، یک سیستم یکپارچه جهت عرضه و مطالعه کتاب الکترونیک است. نسخه اندرویدی و ویندوزی این محصول در حال حاضر تولید شده و دریافت و نصب آن برای عموم کاربران امکان‌پذیر است.انتشار کتاب‌ها با در نظر گرفتن حقوق مالکیت معنوی ناشران و نویسندگان صورت گرفته است. امکان مشاهده اطلاعات اولیه، متادیتای کتاب، متن نمونه و دریافت کتاب‌های رایگان برای همه کاربران این سیستم وجود دارد؛ اما دریافت و مطالعه کتاب‌های غیر رایگان تنها در صورت داشتن حساب کاربری آی نور قابل دسترس خواهد بود. تمامی کتاب‌هایی که خریداری و یا به صورت رایگان دریافت می‌کنید در پرونده حساب کاربری شما ذخیره می‌شود و هر زمان و با هر یک از حامل‌های پشتیبانی شده به حساب کاربری خود مراجعه کنید قابل دسترس خواهند بود.
            </p>

            <p>
                ثبت‌نام کردن و استفاده از سرویس، به این معناست که شما این اساس‌نامه را خوانده‌اید و شرایط استفاده از آن را پذیرفته‌اید. ما این حق را برای خود محفوظ می‌دانیم که هر زمان نیاز بود، بخش‌هایی از این توافق‌نامه را حذف و یا تغییر دهیم و یا بندهای الحاقی به آن اضافه کنیم. تغییرات ایجاد شده برروی سایت منتشر خواهد شد و از طریق پست الکترونیک نیز به شما اطلاع داده خواهد شد.
            </p>
            <p>
                در صورتی که شما بر خلاف متن توافق‌نامه عمل کنید، همراه نور این حق را برایِ خود محفوظ می‌دارد که بلافاصله دسترسیِ شما به سرویس را معلق کند یا به طورِ کلی به پایان برساند و اکانتِ شما را (یا بخشی از آن را) مسدود کند همچنین حق دارد هرکدام از این جنبه‌هایِ خدمات را تغییر دهد یا به صورتِ دائم یا موقت مسدود کند:
            </p>
            <ul>
                <li>محدود کردنِ زمانِ دسترسی به سرویس</li>
                <li>محدود کردنِ مقدارِ مصرف از سرویس</li>
                <li>محدود یا حذف کردنِ استفاده‌یِ هر کاربری از سرویس</li>
            </ul>
            <p>
                شما موافقت می‌کنید که هر تغییر یا حذفی در دسترسی شما به این خدمات می‌تواند بدونِ اطلاعِ قبلی انجام شود. اگر مقرارتِ را زیرِ پا بگذارید، همراه نور بلافاصله اکانتِ شما را معلق یا مسدود می‌کند و شما قادر نخواهید بود به هیچ کدام از اطلاعاتِ اکانتتان دسترسی پیدا کنید. به علاوه مسئولیتِ این حذفِ اکانت و پایانِ دسترسی سرویس بر دوشِ همراه نور یا هیچ فردِ سومی نخواهد بود. شما می‌پذیرید که تنها حقِ کاربریتان در مواجهه با تغییراتی که در سیاستِ کاریِ همراه نور یا رویِ آن انجام می‌شود، پایان دادن به استفاده از سرویس و لغو کردنِ اکانتتان است.
            </p>
            <h3>محدودیت‌هایِ استفاده</h3>
            <p>
                قواعدِ زیر شاملِ تمامِ کاربران، اعم از اعضاء و غیر اعضاء می‌شود:
            </p>
            <ul>
                <li>
                    هر کاربر با حساب کاربری یکتا، حداکثر مجوز ورود به حساب کاربری بر روی 5 دستگاه مختلف را خواهد داشت. در صورت تعویض دستگاه و عدم استفاده از آن به مدت یک ماه، سیستم به صورت خودکار سهمیه استفاده شده مرتبط با دستگاه مذکور را آزاد خواهد کرد.
                </li>
                <li>استفاده از متن کتاب‌ها، تنها در این محصول مجاز است و هرگونه کپی‌برداری و استخراج آن غیرقانونی بوده و شامل اقدامات بعدی و حتی پیگرد قانونی خواهد شد. نشر سایر اطلاعات، نظیر متادیتای کتاب‌ها تنها با ذکر منبع مجاز است.</li>
                <li>شما حق ندارید خودتان را جایِ کسی دیگر معرفی کنید.</li>
                <li>
                    شما حق ندارید امنیتِ سرویس را از راه‌هایِ زیر به خطر بیاندازید:
                    <ul>
                        <li>دسترسی به داده‌ها یا حسابِ کاربری‌ای که اجازه‌اش به شما داده نشده است.</li>
                        <li>
                            سعی در تخمین زدنِ قدرتِ امنیتِ سرویس از طریقِ تلاش برایِ شکستنِ آن. و استفاده از deep-link, page-scrape, robot, spider و یا هر دستگاهِ خودکارِ دیگری همسان با این‌ها برایِ دسترسی، به دست آوردن، کپی و یا نظارت کردن بر بخش-هایی از سرویس که مربوط به کاربران نمی‌شوند.
                        </li>
                        <li>دست زدن به هر عملی که باعثِ سنگینیِ بیش از حد و فراساختاریِ سرویس، سیستم، شبکه‌یِ همراه نور و یا هر سیستم و شبکه‌یِ مربوط به آن می‌شود.</li>
                        <li>تلاش برایِ جستجو و یافتنِ اطلاعاتِ شخصیِ دیگر کاربران و افشا کردنِ آن‌ها.</li>
                        <li>تلاش برایِ ایجادِ اختلال و مسدود کردنِ سرویس به رویِ کاربرانِ دیگر.</li>
                        <li>جعلِ هرگونه TCP/IP و استفاده از آن برایِ نشان دادن اطلاعاتِ نادرست در ایمیل‌ها و پست‌هایِ newsgroup ها.</li>
                        <li>تلاش برایِ ایجادِ اختلال در سرویس یا شبکه‌یِ همراه نور و استفاده از سرویس‌هایی که مجاز به آن نیستید.</li>
                    </ul>
                </li>
            </ul>

            <h3>حریم شخصی</h3>
            <p>
                تمام اطلاعاتی که از شما در زمان ثبت‌نام در آی نور و یا بعد از آن دریافت می‌شود، جزء حریم خصوصی شما تلقی شده و نزد ما محفوظ خواهد بود. این اطلاعات جهت شناسایی شما، حفظ حقوق معنوی‌‌تان و شخصی‌سازی امکانات سیستم متناسب با رفتار شما مورد استفاده قرار خواهد گرفت. مطئمنا اعتماد کاربران و ذینفعان ما مهمترین سرمایه‌ی ما است و تمام تلاش خود را در جهت نگهداشت آن به کار خواهیم بست.
            </p>



            <h3>نشانِ تجاری</h3>
            <p>
                همراه نور دات کام و دیگر مشتقاتِ این کلمات، اسمِ دامنه‌ها (domains) و لوگوها همه داراییِ مرکز تحقیقات کامپیوتری نور به حساب می‌آیند. دیگر نشان‌هایِ تجاری، اسم‌ها یا لوگوهایی که رویِ سرویس از آن‌ها نام برده می‌شود هم داراییِ مالکینِ خود هستند
            </p>

            <h3>آثارِ</h3>
            <p>
                تمامیِ آثارِ ادبی رویِ همراه نور متعلق به ناشرین و دارندگانِ پروانه‌ی اثر هستند و توسط قانونِ حق مولف حفاظت می‌شوند. دانلود این آثار تنها برایِ کاربرانِ عضوِ سیستم امکان‌پذیر است و آن هم به شرط استفاده‌یِ غیرِ تجاری از اثر. هر استفاده‌یِ دیگری از این آثارِ به شدت ممنوع است. کاربرانِ عضوِ همراه نور به هیچ وجه حقِ تعدیل، انتقال، انتشار، فروش، بازتولید و آفریدنِ اثری منشعبِ از این آثار را چه یه صورت جزئی و چه کلی ندارند. کاربرانِ عضوِ همراه نور با دانلود یک اثر موافقت و پذیرشِ قواعدِ بالا را اعلام می‌کنند.
            </p>


            <h3>حوزه‌یِ عمومی</h3>
            <p>
                برخی از آثار که رویِ سیستم ارائه می‌شوند از سویِ ناشرانشان و بر اساسِ قوانینِ خاصی که در مناطق و کشورهایِ مختلف متفاوت است در حوزه‌یِ عمومی تقسیم بندی شده‌اند و به صورتِ رایگان در اختیارِ کاربرانِ عضو قرار می‌گیرند. همراه نور مسئولیتی در قبالِ تشخیصِ دقت و صحتِ این تقسیم بندی ندارد. این بر عهده‌یِ خودِ کاربر است که با توجه به قانونِ کشوری که در آن زندگی می‌کند تشخیص دهد اثرِ موردِ نظرش در حوزه‌یِ عمومی قرار می‌گیرد یا خیر. هر مشکلِ قانونی‌ای که به سببِ دانلود چنین اثری برایِ کاربر پیش بیاید مسئولیت‌اش تنها با اوست.
            </p>
        </div>
    </div>
</div>

