@model Library.Domain.Models.BookGroup

@{
    ViewData["Title"] = "Details";
}

<h2>جزئیات</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupID" class="btn btn-sm btn-warning">ویرایش</a>
    <div>
        <a asp-action="Index">بازگشت به لیست گروه کتاب ها</a>
    </div>
    
</div>
