@model Library.Domain.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h2>ویرایش صفحه</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID" />
            <input type="hidden" asp-for="ImageName" />
            <input type="hidden" asp-for="BookVisit" />
            <input type="hidden" asp-for="PublishYear" />
            <div class="form-group">
                <label asp-for="GroupID" class="control-label"></label>
                <select asp-for="GroupID" class="form-control" asp-items="ViewBag.GroupID"></select>
                <span asp-validation-for="GroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea rows="3" asp-for="ShortDescription" class="form-control"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input type="file" name="imgup" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBNNumber" class="control-label"></label>
                <input asp-for="ISBNNumber" class="form-control" />
                <span asp-validation-for="ISBNNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ShowInSlider" /> @Html.DisplayNameFor(model => model.ShowInSlider)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-sm btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست کتاب ها</a>
</div>

