@model LoginViewModel
@{
    ViewData["Title"] = "فرم ورود";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">ورود به سیستم کتابخانه</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(images/LibrarySystem1.png);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-50">
                                <h3 class="mb-4">ورود</h3>
                            </div>
                        </div>
                        <form asp-action="Login" class="signin-form text-md-right">
                            <div class="form-group mb-3">
                                <label class="label" for="name" asp-for="FullName"></label>
                                <input type="text" class="form-control" asp-for="FullName" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" asp-for="Password" for="password"></label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="رمز عبور" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">ورود</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-center">
                                    <label class="checkbox-wrap checkbox-primary mb-0" asp-for="RemmemberMe"></label>
                                    <input type="checkbox" asp-for="RemmemberMe" />
                                </div>
                                <div class="w-50 text-center">
                                    <a href="#">فراموشی رمز عبور</a>
                                </div>
                            </div>
                            <span class="alert alert-warning">
                                @ViewData["error"]
                            </span>
                            <div asp-validation-summary="All" class="alert alert-danger"></div>

                        </form>
                        <p class="text-center">
                            <a data-toggle="tab" href="/register">ثبت نام در کتابخانه</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
