@model LoginViewModel
@{
    ViewData["Title"] = "فرم ورود";
}

<h2 class="text-center text-black-50 font-weight-bold">فرم ورود به سیستم کتابخانه</h2>
<hr />
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-6  pull-left">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="mb-4">ورود</h3>
            <form asp-action="Login" class="signin-form text-md-right">
                <dl class="row">
                    <dt class="col-md-10">
                        <label class="label" for="name" asp-for="FullName">نام کاربری</label>
                        <input type="text" class="form-control" asp-for="FullName" placeholder="نام کاربری" required>
                    </dt>
                    <dt class="col-md-10">
                        <label class="label" asp-for="Password" for="password">رمز عبور</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="رمز عبور" required>
                    </dt>
                    <dt class="col-md-7">
                        <input type="checkbox" asp-for="RemmemberMe" checked />
                        <label class="checkbox-wrap checkbox-primary" asp-for="RemmemberMe">مرا به خاطر یسپار!</label>
                    </dt>
                </dl>
                <dl class="col-md-12">
                    <input type="submit" value="ورود" class="btn btn-primary" />
                    <a asp-action="Register" class="btn btn-sm btn-warning">ثبت نام در کتابخانه</a>
                </dl>
            </form>
        </div>
    </div>    
    <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
            <img class="col-md-12 col-sm-12 col-xs-12" src="~/images/LibrarySystem1.png" />
    </div>
</div>




                    

                            <span class="alert">
                                @ViewData["error"]
                            </span>

